<div mat class="header mb-5 d-flex justify-content-between">
    <img src="src/favicon.ico" width="50" height="50"/>
    <button mat-raised-button color='primary'
    routerLink='/cliente/novo' class="item1">Novo cliente</button>
    <mat-form-field class="item2">
        <mat-label>Faça uma transação</mat-label>
        <mat-select mat-raised-button color='primary'>
            <mat-option raised-button color='primary'
                routerLink='/conta/novo'
                >Nova conta
            </mat-option>
            <mat-option
                mat-raised-button color='primary'   
                routerLink='/conta/deposito'
                >Novo depósito
            </mat-option>
            <mat-option
                mat-raised-button color='primary'
                routerLink='/conta/saque'
                >Novo saque
            </mat-option>
            <mat-option
                mat-raised-button color='primary'
                routerLink='/conta/transferencia'
                >Nova transferência
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class='container t-5'>
    <div class='d-flex justify-content-between'>
        <h1>Listagem de clientes</h1>
    </div>
    <table mat-table class='mt-5' [dataSource]='dataSource'>
        <!-- Coluna ID -->
        <ng-container matColumnDef='id'>
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef='let element'> {{element.id}} </td>
        </ng-container>
        <!-- Coluna Nome -->
        <ng-container matColumnDef='nome'>
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef='let element'> {{element.nome}} </td>
        </ng-container>
        <!-- Coluna CPF -->
        <ng-container matColumnDef='cpf'>
            <th mat-header-cell *matHeaderCellDef> CPF </th>
            <td mat-cell *matCellDef='let element'> {{element.cpf}} </td>
        </ng-container>
        <!-- Coluna Email -->
        <ng-container matColumnDef='email'>
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef='let element'> {{element.email}} </td>
        </ng-container>
        <!-- Coluna Status -->
        <ng-container matColumnDef='status'>
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef='let element'> {{element.ativo ?
        'Ativo' : 'Inativo'}} </td>
        </ng-container>

        <!-- Coluna Funcoes -->
        <ng-container matColumnDef='funcoes'>
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef='let element'>
                <mat-icon fontIcon='edit' [routerLink]="'/cliente/editar/' + element.id"></mat-icon>
                <mat-icon fontIcon='delete'
                (click)='deletarCLiente(element.id)'></mat-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
        <tr mat-row *matRowDef='let row; columns:
        displayedColumns;'></tr>
    </table>
    <mat-paginator [pageSizeOptions]='[5, 10, 20]'
        showFirstLastButtons [length]='dataSource.data.length + 1'
        (page)='onPageChange($event)'>
    </mat-paginator>
</div>